In [1]:
import scanpy as sc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.sparse import spmatrix

In [2]:
gene_output1 = pd.read_csv("gene1000_output1.csv")
gene_output2 = pd.read_csv("gene1000_output2.csv")
gene_output3 = pd.read_csv("gene1000_output3.csv")
gene_output4 = pd.read_csv("gene1000_output4.csv")
gene_output1.head()

        gene  log_fold_change  pvals  pvals_adj  -log10_pval
0     PDZRN4         3.407478    0.0        0.0          inf
1  LINC01619         1.357252    0.0        0.0          inf
2     RAD51B         1.407630    0.0        0.0          inf
3        PAM         2.361357    0.0        0.0          inf
4      CDK15         2.135040    0.0        0.0          inf

In [3]:
gene_output_up1 = gene_output1[gene_output1['log_fold_change'] >= 0]
gene_output_up2 = gene_output2[gene_output2['log_fold_change'] >= 0]
gene_output_up3 = gene_output3[gene_output3['log_fold_change'] >= 0]
gene_output_up4 = gene_output4[gene_output4['log_fold_change'] >= 0]
gene_output_up1.head()

        gene  log_fold_change  pvals  pvals_adj  -log10_pval
0     PDZRN4         3.407478    0.0        0.0          inf
1  LINC01619         1.357252    0.0        0.0          inf
2     RAD51B         1.407630    0.0        0.0          inf
3        PAM         2.361357    0.0        0.0          inf
4      CDK15         2.135040    0.0        0.0          inf

In [4]:
gene_output_down1 = gene_output1[gene_output1['log_fold_change'] < 0]
gene_output_down1 = gene_output_down1.sort_values(by = 'log_fold_change', ascending = True)

gene_output_down2 = gene_output2[gene_output2['log_fold_change'] < 0]
gene_output_down2 = gene_output_down2.sort_values(by = 'log_fold_change', ascending = True)

gene_output_down3 = gene_output3[gene_output3['log_fold_change'] < 0]
gene_output_down3 = gene_output_down3.sort_values(by = 'log_fold_change', ascending = True)

gene_output_down4 = gene_output4[gene_output4['log_fold_change'] < 0]
gene_output_down4 = gene_output_down4.sort_values(by = 'log_fold_change', ascending = True)

gene_output_down1.head()

         gene  log_fold_change  pvals  pvals_adj  -log10_pval
1203  NEUROD6       -18.108143    0.0        0.0          inf
1200     ZEB2       -11.903702    0.0        0.0          inf
1197   PCDH17        -9.707905    0.0        0.0          inf
1156    CBLN2        -6.911612    0.0        0.0          inf
1164    FXYD6        -6.602510    0.0        0.0          inf

In [5]:
signif_up1 = gene_output_up1[gene_output_up1['log_fold_change'] > 0.5]
signif_up2 = gene_output_up2[gene_output_up2['log_fold_change'] > 0.5]
signif_up3 = gene_output_up3[gene_output_up3['log_fold_change'] > 0.5]
signif_up4 = gene_output_up4[gene_output_up4['log_fold_change'] > 0.5]
signif_up1.head()

        gene  log_fold_change  pvals  pvals_adj  -log10_pval
0     PDZRN4         3.407478    0.0        0.0          inf
1  LINC01619         1.357252    0.0        0.0          inf
2     RAD51B         1.407630    0.0        0.0          inf
3        PAM         2.361357    0.0        0.0          inf
4      CDK15         2.135040    0.0        0.0          inf

In [6]:
signif_down1 = gene_output_down1[gene_output_down1['log_fold_change'] < -0.5]
signif_down2 = gene_output_down2[gene_output_down2['log_fold_change'] < -0.5]
signif_down3 = gene_output_down3[gene_output_down3['log_fold_change'] < -0.5]
signif_down4 = gene_output_down4[gene_output_down4['log_fold_change'] < -0.5]
signif_down1.head()

         gene  log_fold_change  pvals  pvals_adj  -log10_pval
1203  NEUROD6       -18.108143    0.0        0.0          inf
1200     ZEB2       -11.903702    0.0        0.0          inf
1197   PCDH17        -9.707905    0.0        0.0          inf
1156    CBLN2        -6.911612    0.0        0.0          inf
1164    FXYD6        -6.602510    0.0        0.0          inf

In [7]:
signif_up1.to_csv("1000signif_up_DEG1.csv", index = False)
signif_down1.to_csv("1000signif_down_DEG1.csv", index = False)

signif_up2.to_csv("1000signif_up_DEG2.csv", index = False)
signif_down2.to_csv("1000signif_down_DEG2.csv", index = False)

signif_up3.to_csv("1000signif_up_DEG3.csv", index = False)
signif_down3.to_csv("1000signif_down_DEG3.csv", index = False)

signif_up4.to_csv("1000signif_up_DEG4.csv", index = False)
signif_down4.to_csv("1000signif_down_DEG4.csv", index = False)